<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
            });
    </script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

{% block sub_head %}
{% endblock %}
{% block style %}
{% endblock %}
</head>

<body>
    <div data-role="page" data-theme="a">
        <div data-role="header" data-position="fixed" data-theme="a"> 
            <h1>{{ site_name }}</h1>
            <a href="#nav-panel" data-icon="bars">Menu</a>
{% if user.is_staff %}
            <a href="/admin" data-icon="gear">Admin</a>
{% endif %}
{% block nav %}
{% endblock %}
        </div><!-- /header -->
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
{% block content %}
{% endblock %}
        </div><!-- /content -->
        <div data-role="panel" data-display="push" data-theme="a" id="nav-panel">
            <ul data-role="listview">
                <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
                <li data-icon="home"><a href="{% url 'index' %}">Home</a></li>
 {% if user.is_authenticated %}
                <li data-icon="user"><a href="{% url 'member:profile' %}">Profile</a></li>
                <li><a href="{% url 'password_change' %}">Change Password</a></li>
{% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
{% endif %}
{% block menu %}
{% endblock %}
 {% if user.is_authenticated %}
                <li data-icon="lock"><a href="{% url 'logout' %}">Logout</a></li>
{% endif %}
            </ul>
        </div><!-- /panel -->
    </div><!-- /page -->
</body>
