{% extends "base.html" %}

{% block sub_head %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$(function() {
    var x = document.getElementsByClassName("toLocalTimeHM");
    var offset = new Date().getTimezoneOffset()*60*1000 ;
    for (i = 0; i < x.length; ++i) {
        var d = new Date(0);
        var t = Date.parse(x[i].innerHTML);
        d.setUTCMilliseconds(t - offset);
        var m = (d.getMinutes() < 10) ? '0' + d.getMinutes() : d.getMinutes();
        x[i].innerHTML = d.getHours() + ':' + m;
    }
});
</script>
{% endblock %}

{% block content %}

    {% if live_tournaments %}
    <div class="live_tournaments">
        <h3>Live competitions</h3>
        <ul>
        {% for tournament in live_tournaments %}
            <li><a href="{% url 'competition:submit' tournament.name %}">{{ tournament.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if matches_today or matches_tomorrow %}
    <div class="matches">
        {% if matches_today %}
    <div class="matches_today">
        <h3>Today's Matches</h3>
        <ul>
        {% for match in matches_today %}
            <li>
                <a href="{% url 'competition:match' match.pk %}">{{ match }}</a>
                (<span class="toLocalTimeHM">{{match.kick_off|date:"Y/m/d H:i:s" }} </span>)
            </li>
        {% endfor %}
        </ul>
    </div>
        {% endif %}
        {% if matches_tomorrow %}
    <div class="matches_tomorrow">
        <h3>Tomorrow's Matches</h3>
        <ul>
        {% for match in matches_tomorrow %}
            <li>
                <a href="{% url 'competition:match' match.pk %}">{{ match }}</a>
                (<span class="toLocalTimeHM">{{match.kick_off|date:"Y/m/d H:i:s" }} </span>)
            </li>
        {% endfor %}
        </ul>
    </div>
        {% endif %}
    </div>
    {% endif %}
    {% if closed_tournaments %}
    <div class="closed_tournaments">
        <h3>Previous competitions</h3>
        <ul>
        {% for tournament in closed_tournaments %}
            <li>Congratulations to {{tournament.winner.user.profile.get_name}} who won <a href="{% url 'competition:submit' tournament.name %}">{{ tournament.name }}</a> with a score of {{tournament.winner.score}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
