{% extends "base.html" %}

{% block sub_head %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$(function() {
    var x = document.getElementsByClassName("toLocalTime");
    var offset = new Date().getTimezoneOffset()*60*1000 ;
    for (i = 0; i < x.length; ++i) {
        var d = new Date(0);
        var t = Date.parse(x[i].innerHTML);
        d.setUTCMilliseconds(t - offset);
        x[i].innerHTML = d.toString().replace(/GMT.*/g,"");
    }
    var tz = document.getElementById("tz_str");
    if (tz) {
        tz.innerHTML = new Date().toString().match(/\(([A-Za-z\s].*)\)/)[1];
    }
});
</script>
{% endblock %}

{% block style %}
    {% load staticfiles %}
{% endblock %}

{% block nav %}
    
{% if TOURNAMENT %}
<div data-role="navbar">
    <h2 align="center">{{ TOURNAMENT.name }}</h2>
    {% if is_participant or perms.competition.change_match or TOURNAMENT.state != 1 %}
    <ul>
    {% if is_participant %}
        {% if TOURNAMENT.state == 1 %}
        <li><a href="{% url 'competition:submit' TOURNAMENT.name %}">Submit Predictions</a></li>
        {% endif %}
        <li><a href="{% url 'competition:predictions' TOURNAMENT.name %}">My Predictions</a></li>
    {% endif %}
    {% if TOURNAMENT.state == 1 and perms.competition.change_match %}
        <li><a href="{% url 'competition:results' TOURNAMENT.name %}">Submit Results</a></li>
    {% endif %}
    {% if TOURNAMENT.state != 1 or is_participant %}
        <li><a href="{% url 'competition:table' TOURNAMENT.name %}">Leaderboard</a></li>
    {% endif %}
    </ul>
    {% endif %}
</div>
{% endif %}

{% endblock %}

{% block menu %}
                <li><a href="{% url 'competition:rules' TOURNAMENT.name %}">Rules</a></li>
    {% for tournament in live_tournaments %}
                <li><a href="{% url 'competition:submit' tournament.name %}">{{ tournament.name }}</a></li>
    {% endfor %}
{% endblock %}

