{% extends "competition_base.html" %}

{% block content %}
<h2>{{ match }}</h2>
Match ID: {{match.match_id}}
<br/>
{% if match.home_team %}
Home Team: {{ match.home_team }} 
{% else %}
Home Team: Winner of {{ match.home_team_winner_of }}
{% endif %}
<br/>
{% if match.away_team %}
Away Team: {{ match.away_team }} 
{% else %}
Away Team: Winner of {{ match.away_team_winner_of }}
{% endif %}
<br/>
{{ match.tournament.sport.match_start_verb }}:
{% if match.postponed %}
    POSTPONED
{% else %}
<span class="toLocalTime">{{ match.kick_off|date:"Y/m/d H:i:s" }}</span>(<span id="tz_str"></span>)
{% endif %}
<br/>
Your prediction:
{% if match.has_started %}
    {{ prediction.prediction }}
{% else %}
    {% if prediction %}
        <script>
        function edit_prediction () {
            $( "#prediction_score").hide();
            $( "#prediction_edit").show();
        }
        </script>

        <div id="prediction_score">
                {{ prediction.prediction }}
                <button data-icon="edit" onclick="edit_prediction()" />
        </div>
        <div id="prediction_edit" style="display: none" >
            <form action={% url 'competition:predictions' match.tournament.name %} method="post">{% csrf_token %}
                <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                <input type="text" name="prediction_prediction" value="{{ prediction.prediction }}">
                <input type="submit" data-icon="check">
            </form>
        </div>
    {% else %}
    <form action={% url 'competition:submit' match.tournament.name %} method="post">{% csrf_token %}
                <td><input type="text" name="{{match.pk}}"></td>
                    <input type="submit" data-icon="check">
    </form>
    {% endif %}
{% endif %}
<br/>

{% if match.score != None %}
Result: {{ match.score }}
<br/>
{% endif %}
<br/>

{% if predictions %}
    <table style="width:auto" border="1">
        <tr>
            <th>User</th>
            <th>Prediction</th>
    {% if match.score != None %}
            <th>Score</th>
    {% endif %}
        </tr>
    {% for prediction in predictions %}
        <tr>
            <td>{{ prediction.user.profile.get_name }}</td>
            <td>{{ prediction.prediction }}</td>
        {% if match.score != None %}
            <td>{{ prediction.score }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
    {% if predictions.has_previous %}
                <a href="?page={{ predictions.previous_page_number }}">previous</a>
    {% endif %}
    
            <span class="current">
                Page {{ predictions.number }} of {{ predictions.paginator.num_pages }}.
            </span>
    
    {% if predictions.has_next %}
                <a href="?page={{ predictions.next_page_number }}">next</a>
    {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}
