{% extends "competition_base.html" %}

{% block content %}
<h2>{{ match }}</h2>
Match ID: {{match.match_id}}
<br/>
{% if match.home_team %}
Home Team: {{ match.home_team }} 
{% else %}
Home Team: Winner of {{ match.home_team_winner_of }}
{% endif %}
<br/>
{% if match.away_team %}
Away Team: {{ match.away_team }} 
{% else %}
Away Team: Winner of {{ match.away_team_winner_of }}
{% endif %}
<br/>
{{ match.tournament.sport.match_start_verb }}:
{% if match.postponed %}
    POSTPONED
{% else %}
<span class="toLocalTime">{{ match.kick_off|date:"Y/m/d H:i:s" }}</span>(<span id="tz_str"></span>)
{% endif %}
<br/>
{% if match.has_started %}
Your prediction: {{ prediction.prediction }}
{% else %}
<table>
    <tr>
        <td>
            Your prediction:
        </td>
    {% if prediction %}
        <script>
        function show_edit_form () {
            $( "#current_vaule").hide();
            $( "#edit_button").hide();
            $( "#new_value_input").show();
            $( "#sumbit_button").show();
        }
        function submit_form (form_id) {
            document.getElementById(form_id).submit();
        }
        </script>

        <td id="current_vaule">
            {{ prediction.prediction }}
        </td>
        <td id="edit_button">
            <button data-icon="edit" onclick="show_edit_form()">edit</button>
        </td>
        <td id="new_value_input" style="display:none">
            <form id="edit_form" action={% url 'competition:predictions' match.tournament.name %} method="post">
                {% csrf_token %}
                <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                <input type="text" name="prediction_prediction" value="{{ prediction.prediction }}">
            </form>
        </td>
        <td id="sumbit_button" style="display:none">
            <button data-icon="check" onclick="submit_form('edit_form')">sumbit</button>
        </td>
    {% else %}
        <td>
            <form id="create_form" action={% url 'competition:submit' match.tournament.name %} method="post">
                {% csrf_token %}
                <input type="text" name="{{match.pk}}">
        </td>
        <td>
            <button data-icon="check" onclick="submit_form('create_form')">sumbit</button>
        </td>
    </form>
    {% endif %}
    </tr>
</table>
{% endif %}
<br/>

{% if match.score != None %}
Result: {{ match.score }}
<br/>
{% endif %}
<br/>

{% if predictions %}
    <table style="width:auto" border="1">
        <tr>
            <th>User</th>
            <th>Prediction</th>
    {% if match.score != None %}
            <th>Score</th>
    {% endif %}
        </tr>
    {% for prediction in predictions %}
        <tr>
            <td>{{ prediction.get_predictor.get_name }}</td>
            <td>{{ prediction.prediction }}</td>
        {% if match.score != None %}
            <td>{{ prediction.score }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
    {% if predictions.has_previous %}
        {% if show_benchmarks %}
            <a href="?benchmarks=show&page={{ predictions.previous_page_number }}">previous</a>
        {% else %}
            <a href="?page={{ predictions.previous_page_number }}">previous</a>
        {% endif %}
    {% endif %}
    
            <span class="current">
                Page {{ predictions.number }} of {{ predictions.paginator.num_pages }}.
            </span>
    
    {% if predictions.has_next %}
        {% if show_benchmarks %}
            <a href="?benchmarks=show&page={{ predictions.next_page_number }}">next</a>
        {% else %}
            <a href="?page={{ predictions.next_page_number }}">next</a>
        {% endif %}
    {% endif %}
        </span>
    </div>
    {% if display_benchmark_link and match.score != None %}
        <a href="?benchmarks=show&page={{ predictions.number }}">Show benchmarks</a>
    {% endif %}
{% endif %}
{% endblock %}
