{% extends "competition_base.html" %}

{% block content %}
{% if fixture_list %}
    <form method="post">{% csrf_token %}
        <p>Note: all times are in local time (<span id="tz_str"></span>)</p>
        <p>Only predictions that are filled in will be sent to the server, leave the box blank if you want to fill it in later</p>
        <p>Any prediction submitted after {{ TOURNAMENT.sport.match_start_verb|lower }} will not be counted.</p>
        <table style="max-width:100% width:auto" border="1">
            <tr>
                <th>Match id</th>
                <th>Your prediction</th>
                <th>Match</th>
                <th>{{ TOURNAMENT.sport.match_start_verb }}</th>
            </tr>
        {% for match in fixture_list %}
            <tr>
                <td>{{ match.match_id }}</td>
                <td><input type="text" name="{{match.pk}}"></td>
                <td><a href="{% url 'competition:match' match.pk %}">{{ match }}</a></td>
            {% if match.postponed %}
                <td>POSTPONED</td>
            {% else %}
                <td class="toLocalTime">{{ match.kick_off|date:"Y/m/d H:i:s" }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit"/>
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if fixture_list.has_next %}
            <p>Note: Please submit any changes before going to the next page, otherwise your changes will be lost</p>
            {% endif %}
            {% if fixture_list.has_previous %}
                <a href="?page={{ fixture_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ fixture_list.number }} of {{ fixture_list.paginator.num_pages }}.
            </span>
    
            {% if fixture_list.has_next %}
                <a href="?page={{ fixture_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>There are no more matches to predict, try again later</p>
{% endif %}

{% endblock %}
