{% extends "competition_base.html" %}

{% block content %}
{% if leaderboard %}
    <table style="width:auto" border="1">
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Average margin</th>
        </tr>
    {% for username, name, score, avg_margin in leaderboard %}
        <tr>
            <td><a href="{% url 'competition:predictions' TOURNAMENT %}?user={{username}}">{{ name }}</a></td>
            <td>{{ score }}</td>
            <td>{{ avg_margin }}</td>
        </tr>
    {% endfor %}
    </table>
    <p>To view another user's predictions click on their name</p>
    <p>The "average margin" is the average difference between the predicted margin and
       actual margin. This does not include bonuses.</p>
{% endif %}
{% endblock %}
