{% extends "competition_base.html" %}

{% block content %}
{% if leaderboard %}
    <table style="width:auto" border="1">
        <tr>
            <th title="To view another user's predictions click on their name">User</th>
            <th title="The user with the lowest score is winning">Score</th>
            <th title='The "average margin" is the average difference between the predicted margin and actual margin. This does not include bonuses.'>Average margin</th>
        </tr>
    {% for username, name, score, avg_margin in leaderboard %}
        <tr>
            <td><a href="{% url 'competition:predictions' TOURNAMENT %}?user={{username}}">{{ name }}</a></td>
            <td>{{ score }}</td>
            <td>{{ avg_margin }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if participants.has_previous %}
                <a href="?page={{ participants.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ participants.number }} of {{ participants.paginator.num_pages }}.
            </span>
    
            {% if participants.has_next %}
                <a href="?page={{ participants.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}
