{% extends "competition_base.html" %}

{% block content %}
{% if leaderboard %}
    {% if competitions %}
    <select onchange="location = this.options[this.selectedIndex].value;">
        <option>Click to view sub-competitions</option>
        {% for competition in competitions %}
        <option value="{% url 'competition:org_table' TOURNAMENT competition %}">{{ competition }}</option>
        {% endfor %}
    </select> 
    {% endif %}
    <table style="width:auto" border="1">
        <tr>
            <th title="To view another user's predictions click on their name">User</th>
            <th title="The user with the lowest score is winning">Score</th>
            <th title='The "average margin" is the average difference between the predicted margin and actual margin. This does not include bonuses.'>Average margin</th>
        </tr>
    {% for link, name, score, avg_margin in leaderboard %}
        <tr>
            {% if link %}
            <td><a href="{{ link }}">{{ name }}</a></td>
            {% else %}
            <td>{{ name }}</td>
            {% endif %}
            <td>{{ score }}</td>
            <td>{{ avg_margin }}</td>
        </tr>
    {% endfor %}
    </table>
    {% if participants %}
    <div class="pagination">
        <span class="step-links">
            {% if participants.has_previous %}
                <a href="?page={{ participants.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ participants.number }} of {{ participants.paginator.num_pages }}.
            </span>
    
            {% if participants.has_next %}
                <a href="?page={{ participants.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% if has_benchmark %}
        {% if user.profile.test_features_enabled or TOURNAMENT.test_features_enabled %}
    <div class="test_feature">
        <a href="{% url 'competition:benchmark_table' TOURNAMENT %}">Show benchmarks</a>
    </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
