{% extends "member_base.html" %}

{% block style %}
    {% load staticfiles %}

<style>

div.ticket {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 20px solid powderblue;
    padding: 20px;
    float: left;
    width:500px;
    height:150px;
}
.org_info {
    display: grid;
    grid-template-rows: auto auto auto;
}
.info {
    grid-column-start: 2;
    grid-column-end: 4;
}
.info > h2 {
    margin-top: 0;
    text-align:center;
}
.instructions > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}
.token {
    text-align:center;
}
.site_logo {
    display: grid;
    grid-template-rows: auto auto auto;
}
img {
    grid-row-start: 2;
    width:100px;


}
</style>

{% endblock %}

{% block nav %}
<div data-role="navbar">
    <h2 align="center">Tickets for {{ comp.tournament.name }}</h2>
</div>
{% endblock %}

{% block content %}
<div class=tickets>
{% for ticket in tickets %}
    <div class=ticket>
        <div class=org_info><img src="{{ comp.organisation.logo.url }}"></div>
        <div class=info>
            <h2>{{ comp.tournament.name }}</h2>
            <div class=token><h1>{{ticket.token}}</h1></div>
            <div class=instructions>
                    <p>Login to {{site_name}}</p>
                    <p>Select "Enter Competition Code" from the "Menu"</p>
                    <p>Use the Competition Code shown on this ticket</p>
            </div>
        </div>
        <div class=site_logo><img src="/media/images/site_logo.png"></div>
    </div>
{% endfor %}
</div>
{% endblock %}
